body, html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    margin: 2rem;
    text-align: center;
}
.container
{
    text-align: center;
    margin: auto;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 2rem;
}

#notes {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.note {
  width: 24rem;
  height: 20rem;
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 1.2rem 1.6rem;
  margin: 2.4rem 2.4rem 0 0;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  border-color: rgb(222, 225, 132);
  position: relative;
}

.note-text {
    height: 100%;
    width: 100%;
    white-space: normal;
    overflow: auto;
}

.note.red {
  background: rgb(236, 126, 126);
}

.note.blue {
  background: rgb(129, 197, 240);
}
.note.green {
  background: rgb(0, 235, 137);
}
.note.yellow {
  background: rgb(75, 230, 121);
}

.note span {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0.2rem;
  right: 0.2rem;
  border-radius: 0.4rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

.note span:hover {
  color: rgb(255, 255, 255);
  background: #00000010;
  cursor: pointer;
}